.modal {
    position: fixed;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    left: 50%;
    padding: 1rem;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 100;
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    img.cancel {
        position: absolute;
        cursor: pointer;
        width: 16px;
        height: 16px;
        top: 3%;
        right: 3%;
    }
}

.modal__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
}

.dialog {
    position: fixed;
    border-radius: 4px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    left: 50%;
    padding: 1rem;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    img.cancel {
        position: absolute;
        cursor: pointer;
        width: 16px;
        height: 16px;
        top: 3%;
        right: 3%;
    }
}

.dialog__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
}
